
<div class="footer py-5 mt-5">
  <div class="footer-links d-flex justify-content-around">
    <div class="links-value-prop w-25">
      <h3> &lt;CodeConverter/&gt; </h3>
      <p> We are a platform dedicated to helping
          students with learning new coding languages. </p>
    </div>
    <div class="links-about-us">
      <p> About Us </p>
      <p> The Idea </p>
      <p> The Authors </p>
      <p> Our Portfolio </p>
    </div>
  </div>
  <hr>
  <p class="text-center"> Made with 💛 by the CodeConverter Team </p>
</div>
