<div class="container" id="navigation-box">
  <div class="row justify-content-center">
    <div class="col-6 text-center" id="convert">
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row" id="input-output-box">
    <div class="col-6" id="input-box">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: absolute; left: 40%; bottom: 34px; ">
          Ruby
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"></a>
        </div>
      </div>
      <form action="" id="form">  
        <i class="fas fa-eraser clear-button"></i>
        <textarea name="" id="input" class="pr-5" cols="60" rows="30" placeholder="Code here ..." spellcheck="false">
          
        </textarea>
        <input type="submit" class='btn btn-primary' value="Convert" id="button">
      </form>
    </div>
    <div class="col-6" id="output-box">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: absolute; right: 30%; bottom: 34px; ">
          JavaScript
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"></a>
        </div>
      </div>
       <i class="far fa-copy copy-logo"
                 data-clipboard-target="#output-box">
                 </i>
      <div id="output"></div>
    </div>
  </div>
</div>
