
.copy-logo {
  font-size: 25px;

}

.copy-logo:hover {
  color: $primary;
  cursor: pointer;
}
.like-logo {
  font-size: 25px;
  color: #000;
}

.like-logo:hover {
  color: $primary;
  cursor: pointer;
}

.liked {
  color: $primary;
}


