

.translation-form {
  overflow: hidden;
  border-radius: 8px;
}

.translation-header {
  word-wrap: break-word;
}

.translation-content {
  min-height: 250px;
  font-family: 'Source Code Pro';
}


.translation-post-request {
  max-height: 350px;
  overflow: scroll;
}

.form-translation {
  min-height: 350px;
}

.codemirror-translation-request-form {
  height: 300px;
  border-radius: 20px;
  margin: 10px 0;
}